# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
.venv/
venv/

# Logs
logs/*.log

# Downloads
downloads/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.swp
*.swo

/subtitles
